<section class="elsewhere">
  <h1>Elsewhere...</h1>
  <ul>
    <li>
      <a href="https://twitter.com/stevenharman" class="twitter-follow-button"
        data-show-count="false" data-size="large">Follow @stevenharman</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>
    <li>
      <a href="http://harmanly.com" class"harmanly" title="Steven & Rebecca Harman">Harmanly.com</a>
    </li>
    <li>
      <a href="http://harmanlyphotography.com" class="harmanly_photography" title="Harmanly Photography"><img
        src="/images/harmanly-photography-logo.png" alt="Harmanly Photography monogram" >
        Harmanly Photography</a>
    </li>
  </ul>
</section>

