// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: $page-bg image-url('argyle.png') top left;
}

header[role='banner'] {
  h1 { font-family: 'Coda', cursive; }
  h2 { font-family: 'Averia Libre', cursive; }
}

header {
  h1, h2 {
    display: inline-block;
  }
  h2 { text-transform: lowercase; }
}

ul, ol {
  margin-left: 1.5em;
}

.entry-title {

}

.heading,
  body > header h1,
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Coda', cursive
}

dl {
  margin-bottom: 1.5em;

  dt {
    font-weight: bolder;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    em, i {
      font-weight: normal;
    }
    i {
      color: $text-color-light;
    }
  }
  dd {
    margin-left: 1em;
  }
}

section.elsewhere {
  margin-bottom: 0 !important;

  li {
    border-bottom: none;

    @include box-shadow(none);
  }
}

section.googleplus {
  h1 {
    margin-top: 0.5em !important;
  }
}
