// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header {
  h1, h2 { display: inline-block; }
  h2 { text-transform: lowercase; }
}

ul, ol {
  margin-left: 1.5em;
}
